.row {

}

.field-cell {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #999;
  word-wrap: break-word;
}

.cell {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.ball {
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 80%;  
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #ccc;
}

.ball.red {
  background: #f00;
}

.selected {
  border: 3px solid #0f0;
}