.row {

}

field-cell {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}


.cell {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  vertical-align: top;
}

.ball {
  position: absolute;
  display: inline-block;
  width: 80%;
  height: 80%;  
  left: 10%;
  top: 10%;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background: #ccc;
}

.ball.red {
  background: #f00;
}

.ball.blue {
  background: #00f;
}

.ball.green {
  background: #090;
}

.ball.magenta {
  background: #a0a;
}

.ball.brown {
  background: #f90;
}

.ball.lightblue {
  background: #9ef;
}

.ball.yellow {
  background: #ff0;
}

.selected {
  background: rgba(255,200,129,0.5);
}